 /* parallaxSlide */
.footerMargin {
  height: 100vh;
}
.headerMargin {
  height: 10vh;
}
.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.event {
  pointer-events: none;
  justify-content: start !important;
}

.contents {
  width: 50%;
  padding-top: 5%;
  display: block;
}

.puroductName {
  width: 100%;
  height: auto;
  font-size: 3em;
  color: #fbfbfc;
  margin: 0;
}

.img {
  width: 100%;
  height: auto;
  margin-bottom: 5vh;
  border: 5px solid;
  border-color:rgba(255, 255, 255, 0.5);
}

.linkIcons {
  pointer-events: all;
  position: relative;
  bottom: 10px;
  left:10px;
  font-size: 2rem;
  text-align: center;
}

.linkIcon {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
}
.linkIcon:hover {
  color: rgba(255, 255, 255, 1);
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
}

.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 170%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

.blue {
  background: linear-gradient(to right, rgb(71, 77, 255) 0%, rgb(149, 255, 0) 100%);
}

 /* modalDialog */

.productInfo {
  font-size: 15px;
  text-align: left;
  white-space: pre-wrap;
  overflow-wrap:break-word;
}
.productInfo h3{
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 0%;
  right: 0%;
  background:Transparent;
  border: none;
}

.closeButtonIcon {
  font-size: 30px;
  color: rgba(0,0,0,0.3);
}

/* parallaxSticky */

.StickyBackground {
  background:radial-gradient(#ffffff,#C0E0DE);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.scrollText {
  justify-content: center;
  font-size: 5rem;
  display: flex;
  align-items: center;
}

.card {
  background: radial-gradient(rgb(252, 252, 161),yellow);
  height: 10vh;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  text-align: center;
  white-space: pre-wrap;
  border-radius: 10px;
  opacity: 0.7;
  padding: 0 1vw 0 1vw;
}

.imageContainer {
  width: 70%;
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  opacity: 0.5;
}

.year {
  margin-left: 2vh;
  width: 8%;
}
.historyMain {
  margin-left: 16vw;
  width: 30%;
}
.historySub {
  margin-left: 53vw;
  width: 40%;
  height: 15vh;
  font-size: 1vw;
  display:flex;
  flex-flow: column;
}
.opacity {
  opacity: 0.5;
}
.lineThrough {
  text-decoration: line-through;
  opacity: 0.5;
}
.bold {
  font-weight: bold;
}

.red {
  background: radial-gradient(rgb(254, 148, 148),rgb(255, 58, 58));
}
.blue {
  background: radial-gradient(rgb(145, 154, 252),rgb(44, 75, 250));
}
.green {
  background: radial-gradient(rgb(149, 254, 165),rgb(62, 255, 62));
}

.image_hokkaido {
  background-image:
      url("../images/history/hokkaido.jpg");
}
.image_selfDefenceForces {
  background-image:
      url("../images/history/selfDefenceForces.jpg");
}
.image_entrepreneurshipFailure {
  background-image:
      url("../images/history/entrepreneurshipFailure.jpg");
}
.image_Communication {
  background-image:
      url("../images/history/Communication.jpg");
}
.image_overseas {
  background-image:
      url("../images/history/overseas.jpg");
}
.image_overseasFailure {
  background-image:
      url("../images/history/overseasFailure.jpg");
}
.image_programing {
  background-image:
      url("../images/history/programing.jpg");
}
.image_IT {
  background-image:
      url("../images/history/IT.jpg");
}
.image_next {
  background-image:
      url("../images/history/next.jpg");
}

/* DraggableList */
.DraggableListcontainer {
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
    auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
}

.content {
  position: relative;
  width: 100%;
  height: 80vh;
}

.content > div {
  position: absolute;
  width: 90%;
  height: 40px;
  transform-origin: 50% 50% 0px;
  border-radius: 5px;
  color: white;
  font-size: 14.5px;
  touch-action: none;
  line-height: 40px;
  text-align: center;
}

.content > div:nth-child(1) {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}
.content > div:nth-child(2) {
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}
.content > div:nth-child(3) {
  background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
}
.content > div:nth-child(4) {
  background: linear-gradient(135deg, #fa9393 0%, #e1d892 100%);
}
.content > div:nth-child(5) {
  background: linear-gradient(135deg, #c8e2c3 0%, #62dfdf 100%);
}
.content > div:nth-child(6) {
  background: linear-gradient(135deg, #b6a0d0 0%, #5568d6 100%);
}
.content > div:nth-child(7) {
  background: linear-gradient(135deg, #b7edb7 0%, #33dd33 100%);
}
.content > div:nth-child(8) {
  background: linear-gradient(135deg, #f70000 0%, #dc7e7e 100%);
}

  